<div class="contenedor">
    <h1>{{productoActualizar ? 'Actualizar Producto' : 'Agregar Producto'}}</h1>
    <form [formGroup]="formGroup">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="nombre">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Referencia</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="Referencia">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cantidad</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="cantidad">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Valor</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="valor">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="descripcion">
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="agregarProducto()" *ngIf="!productoActualizar">Agregar</button>
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="actualizarProducto()" *ngIf="productoActualizar">Actualizar</button>

      </form>
</div>
