<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nombre</th>
        <th scope="col">Referencia</th>
        <th scope="col">cantidad</th>
        <th scope="col">valor</th>
        <th scope="col">descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos; let i=index ">
        <th scope="row">{{i+1}}</th>
        <td>{{producto.nombre}}</td>
        <td>{{producto.Referencia}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.valor}}</td>
        <td>{{producto.descripcion}}</td>
        <td><button type="button" class="btn btn-danger" (click)="eliminarProducto(producto.idproducto)" >Eliminar</button></td>
        <td><button type="button" class="btn btn-primary" (click)="irActualizarProducto(producto)">Actualizar</button></td>
        
      </tr>
    </tbody>
  </table>
